<%- layout("mentee/layouts/boilerplate") %>

<div>
  <h1>Home page of mentee hence this whole system is run according to mentee</h1>
  <br><br><br><br><br><br>
  <h2>eska apna navBar hoga, <br><br><br><br>footer hoga</h2>
</div>


<!-- <#%- include('../layouts/boilerplate') %> -->
<h1>Mentee Dashboard</h1>
<!-- <p>Welcome, <#%= currUser.username %>!</p> -->
