
        <!-- Footer section -->
        <div id ="contact-us-section" class="footer">
            <div class="footer-column">
                <h3>Our Service</h3>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Our Work</a></li>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Company</h3>
                <ul>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Our Information</h3>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Career</a></li>
                    <li><a href="#">Find Alumni</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Success Story</a></li>
                    <li><a href="#">Donation</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Follow us</h3>
                <div class="social-icons">
                    <a href="https://twitter.com/yourprofile" target="_blank" rel="noopener noreferrer">
                        <img src="/image/common/twitter.png" alt="Twitter" />
                    </a>
                    <a href="https://www.linkedin.com/in/yourprofile" target="_blank" rel="noopener noreferrer">
                        <img src="/image/common/Linkedin.png" alt="LinkedIn" />
                    </a>
                    <a href="https://www.instagram.com/yourprofile" target="_blank" rel="noopener noreferrer">
                        <img src="/image/common/instagram-fill.png" alt="Instagram" />
                    </a>
                </div>
            </div>
        </div>