<div class="sidebar">
  <div class="sidebar-header">
    <div class="sidebar-logo">
      <img src="image/admin/adminConnexusLogo.png" alt="Logo" />
    </div>
  </div>
  <ul class="sidebar-menu">
    <li><i class="fas fa-home"></i><span>Dashboard</span></li>
    <li><i class="fas fa-fire"></i><span>User Analysis</span></li>
    <li><i class="fas fa-subscript"></i><span>Listing</span></li>
    <li><i class="fas fa-folder"></i><span>User Management</span></li>
    <li><i class="fas fa-history"></i><span>Help</span></li>
    <li><i class="fas fa-clock"></i><span>Feedback</span></li>
    <li><i class="fas fa-thumbs-up"></i><span>Reports</span></li>
  </ul>
  
  <!-- Logout Button -->
  <div class="sidebar-logout">
    <form action="/auth/logout" method="POST">
      <button type="submit" class="logout-btn"><i class="fas fa-sign-out-alt"></i> Logout</button>
    </form>
  </div>
  
  <div class="sidebar-social-media">
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-instagram"></i>
  </div>
</div>
