<!-- <#% layout("/layouts/boilerplate") %> -->

<div class="row">
    <div class="alert alert-danger col-6 offset-3" role="alert">
        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:">
            <use xlink:href="#exclamation-triangle-fill" />
        </svg>
        <p class="alert-heading"><%=message%>
        </p>
    </div>
</div>

<!---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
  <link rel="stylesheet" href="/css/error.css">
</head>
<body>
  <h1>Error <%# error.statusCode %></h1>
  <p><%# error.message %></p>
  <p>Sorry, something went wrong on our end. Please try again later.</p>
  <a href="/">Go to Homepage</a>
</body>
</html>



-->